@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  [data-reach-skip-nav-link]:focus {
    @apply rounded bg-sky-500;
  }

  .dark [data-reach-skip-nav-link]:focus {
    @apply bg-gray-700;
  }
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
